<a href="https://colab.research.google.com/github/Patpmccrary/Python_-0-step1b/blob/main/Python_10_step_1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings**
strings are order sequence of charactors that cannot be changed after created *immutable

# Defining strings

In [1]:
# string defined with single quotes
name_one = 'tech I.S'
print(name_one) 

# string defined with "" double quotes

name_two = "tech I.S"
print(name_two)

# strig define with triple ''' quotes

name_three = '''thie is a long string and 
                supports multiline statements as 
                well
                '''
print(name_three)

# string define qith double quotes inside triple quotes

name_four = 'hello, "tech I.S student"'
print(name_four)

tech I.S
tech I.S
thie is a long string and
                supports multiline statements as
                well

hello, "tech I.S student"

**String Immutability Test**

In [1]:
# define string
s = "hello"

# attempt assigment

s[0] = 'y'#throws error - hence strings are immutable

TypeError: ignored

In [2]:
# however, rebinding works
# reasisigning s with 'y' concatenated with 'ello' from s

s = 'y' + s[1:len(s)]

print(s)

yello

## string concatenation

In [4]:
first_name = "tech"
last_name = "I.S"
full_name = first_name + ' ' + last_name
print(full_name)

tech I.S

## String Multiplication

In [5]:
name = 'Hayato'
print(name)
name_thrice = name * 3
print(name_thrice)
print(name*4)
print(name*10)

Hayato
HayatoHayatoHayato
HayatoHayatoHayatoHayato
HayatoHayatoHayatoHayatoHayatoHayatoHayatoHayatoHayatoHayato

## String Length
indexing for strings starts from 0

In [7]:
s = "abc"

# indexing starts from 0 in python

# use square brackets and index number to access data
print(s[0]) #output: a
print(s[1]) #output: b
print(s[2]) #output: c

print(s[-1]) # output: c
print(s[-2]) # output: b
print(s[-3]) # output: a

print(s[3]) # output: index error

a
b
c
c
b
a

IndexError: ignored

string index out of range, why?



## String Slicing

In [10]:
#define a new string
s = 'abcdefg'
print(s[3:6])  #output: def
print(s[3:6:1])  #output:def
print(s[3:6:2]) # output: df
print(s[::])   #output:abcdefg(useful for copy string content into new memory location)
print(s[::-1]) #reverse command
print(s[4:1:-2]) #output ec

def
def
df
abcdefg
gfedcba
ec

# Lists

In [11]:
# define a list
new_list = [3,7,20,'@', 'tech I.S' , 'make learning fun!']

#veiw list
print(new_list)

[3, 7, 20, '@', 'tech I.S', 'make learning fun!']

#Accesing list elements

In [13]:
#define a list
new_list = [3,7,20,'@' , 'tech is', 'make learrning fun!']

print(new_list[0]) #zeroth element
print(new_list[1]) # first element
print(new_list[2]) # second element
print(new_list[3]) # third element

print(new_list[-1]) #last element
print(new_list[-2]) #last but one
print(new_list[-3]) #last but two
print(new_list[-4]) #last but three

3
7
20
@
make learrning fun!
tech is
@
20

# Insert to list
can add an element at a given positon on the list
only one element at a time
two argument
1st specifies the position
second species element
`

In [14]:
# define list
new_list = [3,7,20, '@', 'tech is', 'makes learning fun']
#insert element 'chocolate at spot 3 in nw_list
new_list.insert(3,'chocolate')

#check insertion
print(new_list)

[3, 7, 20, 'chocolate', '@', 'tech is', 'makes learning fun']

# remove from list

In [15]:
# define list
new_list = [3,7,20,'@', "tech is", 'makes learning fun']

# remove 20 from new list
new_list.remove(20)

print(new_list)

[3, 7, '@', 'tech is', 'makes learning fun']

# Pop from list
can remove element from any position
element is not specified in () remove method

In [16]:
# define list
new_list = [3,7,20,'@', 'tech is' , 'make learning fun']

# new pop spot 2 from list

new_list.pop(2)

#check list
print(new_list)

[3, 7, '@', 'tech is', 'make learning fun']

removes from indexed number

# list slicing

In [ ]:
used to extract a sub-section of the list

In [21]:
#define a list

new_list = [3,7,20 , '@', 'tech is' , 'makes learning fun']

# extract a combination of new_list extracts
print(new_list[:4])
print(new_list[2:])
print(new_list[1.5])
print(new_list[:])

[3, 7, 20, '@']
[20, '@', 'tech is', 'makes learning fun']

TypeError: ignored

# reverse List

when creating list cannot use float variable must use integers or slices

In [2]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# without modifying the original list
print(new_list[::-1])
print(new_list) # unmodified original list

# modify the original list
new_list.reverse() # modify original list
print(new_list)

['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]

# length of list

In [4]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print length of new_list
len(new_list)

7
99
%$
x

min and max

In [ ]:
# define list
new_list = [8,12,7,10,52,33,21,99]

# check min and max of new_list
print(min(new_list))
print(max(new_list))

# define list
new_list = ['x','10','99','twenty','%$','--']

# check min and max of new_list
print(min(new_list))
print(max(new_list)

## count elements

In [7]:

# define list
new_list = [8,12,7,10,7,33,21,7]

# count the number of occurences of 7
print(new_list.count(7))

# count the number of occurences of 10
print(new_list.count(10))

3
1

concatenate list

In [8]:
# define two lists
list_first = ['three','hundred']
print(list_first)

list_second = ['words','in','a','paragraph']
print(list_second)

# concatenate lists
list_combined = list_first + list_second
print(list_combined)

['three', 'hundred']
['words', 'in', 'a', 'paragraph']
['three', 'hundred', 'words', 'in', 'a', 'paragraph']

multiply list content

---

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# multiply list
print(new_list*2)
print(new_list*3)

location of first occurence

In [9]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# search index of 'TECH I.S.'
print(new_list.index('TECH I.S.'))

# search '@' with optional arguments
print(new_list.index('@',1,4))

4
3

#** identity operators

In [10]:
# define lists
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

# 'is' test 
print(x is z)

# 'is' test 
print(x is y)

# equality test
print(x == y)

# 'is not' test
print(x is not y)

True
False
True
True

In [11]:
# define list 
x = ["apple", "banana"]

# 'in' test
print("banana" in x)

# 'in' test
print("pineapple" in x)

# 'not in' test
print("pineapple" not in x)

True
False
True